<div class="section">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-time">
        <a href="/notification/read?id=all"><%= t("notification.clear_all") %></a>
      </div>
      <div class="section-title">
        <%= t("notification.title") %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-wrap">
    <div class="section-item">
    <% if @notifications.size == 0 %>
      <div><%= t("notification.empty") %></div>
    <% end %>
    <% @notifications.each do |notification| %>
      <div class="section-time">
        <%= format_time(notification.created_at) %>
      </div>
      <div class="section-title">
        <% if notification.status == 0 %>
          <strong>
        <% end %>
        <%= notification.event_from_user.name %>
        <a href="/notification/read?id=<%= notification.id %>">
        <% case notification.event_type
           when 1 %>
          <%= t("notification.like") %>
        <% when 2 %>
          <%= t("notification.comment") %>
        <% end %>
        </a>
        <% if notification.status == 0 %>
        </strong>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>