<% unless defined?(style) %>
  <% style = :thumbnail %>
<% end %>
<div class="section section-image">
  <div class="section-wrap hover-effect">
    <div class="section-item">
      <div class="section-time">
        <%= image.created_at.strftime("%H:%M") %>
        <% unless image.created_at.today? %>
          <% unless image.created_at.this_year? %>
            <%= image.created_at.strftime("%Y-%m-%d") %>
          <% else %>
            <%= image.created_at.strftime("%m-%d") %>
          <% end %>
        <% end %>
      </div>
      <div class="section-title">
        <% if defined?(nolink) && nolink == true %>
          <%= image.title %>
        <% else %>
          <%= link_to image.title, "/image/#{image.id}" %>
        <% end %>
      </div>
      <div class="section-content">
        <% if defined?(nolink) && nolink == true %>
          <%= image_tag(image.img_url(style)) %>
        <% else %>
          <%= link_to(image_tag(image.img_url(style)), "/image/#{image.id}") %>
        <% end %>
      </div>
      <div class="section-action">
        <% if image.liked %>
          <%= link_to icon("heart"), "/image/like/#{image.id}", remote: true, method: :post %>
        <% else %>
          <%= link_to icon("heart-o"), "/image/like/#{image.id}", remote: true, method: :post %>
        <% end %>
        <% if image.likes.count > 0 %>
          <%= image.likes.count %>
        <% end %>
      </div>
      <div class="section-footer">
        <div class="section-footer-icon">
          <%= image_tag(image.user.gravatar_url, :class => "gravatar") %>
        </div>
        <div class="section-footer-name">
          <%= link_to "#{image.user.name}", "/u/#{image.user.name}" %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if defined?(nolink) && nolink == true %>
<% unless image.exif.blank? %>
<div class="section" id="exif-data">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        EXIF 信息
      </div>
      <div class="section-content">
        <table>
          <% unless image.exif[:model].blank? %>
          <tr>
            <td>型号</td>
            <td><%= image.exif[:model] %></td>
          </tr>
          <% end %>
          <% unless image.exif[:focal_length].blank? %>
          <tr>
            <td>焦距</td>
            <td><%= image.exif[:focal_length] %>mm</td>
          </tr>
          <% end %>
          <% unless image.exif[:aperture].blank? %>
          <tr>
            <td>光圈</td>
            <td><%= image.exif[:aperture] %></td>
          </tr>
          <% end %>
          <% unless image.exif[:shutter_speed].blank? %>
          <tr>
            <td>快门</td>
            <td><%= image.exif[:shutter_speed] %></td>
          </tr>
          <% end %>
          <% unless image.exif[:ISO].blank? %>
          <tr>
            <td>ISO</td>
            <td><%= image.exif[:ISO] %></td>
          </tr>
          <% end %>
          <% unless image.exif[:software].blank? %>
          <tr>
            <td>软件</td>
            <td><%= image.exif[:software] %></td>
          </tr>
          <% end %>
          <% unless image.exif[:resolution].blank? %>
          <tr>
            <td>解析度</td>
            <td><%= image.exif[:resolution] %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
