<%= render partial: "image/image", object: @image, locals: {nolink: true, style: :original} %>

<% if @likes.size > 0 %>
<div class="section">
  <div class="section-wrap">
    <div class="section-title">
      <%= t(:like) %>
    </div>
    <div class="section-content">
      <% @likes.each do |like| %>
        <%= image_tag(like.user.gravatar_url, :class => "gravatar", :title => like.user.name) %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<%= render partial: "image/comment", object: @comments %>

<div class="section" id="return">
  <div class="section-wrap info">
    <div class="section-title">
      <%= link_to t(:return), controller: "index", action: "index" %>
    </div>
  </div>
</div>
