<div class="section">
  <div class="section-wrap info">
    <div class="section-title">
      <%= link_to "返回", controller: "index", action: "index" %>
    </div>
  </div>
</div>

<% img = @image %>
<div class="section">
  <div class="section-wrap hover-effect">
    <div class="section-item">
      <div class="section-time">
        <%= img.created_at.strftime("%H:%M") %>
        <% unless img.created_at.today? %>
          <%= img.created_at.strftime("%Y-%m-%d") %>
        <% end %>
      </div>
      <div class="section-title">
        <%= img.title %>
      </div>
      <div class="section-content">
        <%= image_tag(img.url) %>
      </div>
      <div class="section-footer">
        <div class="section-footer-icon">
          <%= image_tag(img.user.gravatar_url, :class => "gravatar") %>
        </div>
        <div class="section-footer-name">
          <%= img.user.name %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-wrap">
    <div class="section-title">
      点赞的人
    </div>
    <div class="section-content">
      <% @likes.each do |like| %>
      <div class="section-time">
        <%= like.updated_at.strftime("%Y-%m-%d %H:%M") %>
      </div>
      <div>
        <%= like.user.name %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div id="comment" class="section">
  <div class="section-wrap">
    <div class="section-title">
      评论
    </div>
  </div>
</div>