<div class="section upload">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        <%= t(:upload_section_title) %>
      </div>
    </div>
  </div>
</div>

<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        <%= t(:upload_specs_title) %>
      </div>
      <div class="section-content">
        <ul>
          <%= raw(t(:upload_specs_contents)) %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <%= form_for :image, method: :post, url: '/image/create', html: { multipart: true } do |f| %>
      <div class="section-content">
        <%= f.label t(:upload_image_title) %>
        <%= f.text_field :title %>
      </div>
      <div class="section-content">
        <%= f.label t(:upload_image_file) %>
        <%= f.file_field :img_file %>
      </div>
      <div class="section-content">
        <%= f.label t(:upload_image_url) %>
        <%= f.text_field :url %>
      </div>
      <div class="section-content">
        <%= f.submit t(:upload_image_submit) %>
      </div>
      <% end %>
    </div>
  </div>
</div>