<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        New photo
      </div>
      <%= form_for :image, method: :post, url: '/image/create', html: { multipart: true } do |f| %>
      <div class="section-content">
        <%= f.label "Title" %>
        <%= f.text_field :title %>
      </div>
      <div class="section-content">
        <%= f.label "Image" %>
        <%= f.text_field :url %>
        <%= f.file_field :img_file %>
      </div>
      <div class="section-content">
        <%= f.submit "Post" %>
      </div>
      <% end %>
    </div>
  </div>
</div>