<div class="section upload">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        分享新照片
      </div>
    </div>
  </div>
</div>

<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        图片规格要求
      </div>
      <div class="section-content">
        <ul>
          <li>标题至少有2个字符</li>
          <li>可以选择上传图片或者 URL 外链</li>
          <li>上传图片最大不超过30 MB（通过 Nginx client_max_body_size 限制）</li>
          <li>外链请自行保证可用和加载速度</li>
          <li>尽自己所能提高照片质量，维护社区秩序</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <%= form_for :image, method: :post, url: '/image/create', html: { multipart: true } do |f| %>
      <div class="section-content">
        <%= f.label "标题" %>
        <%= f.text_field :title %>
      </div>
      <div class="section-content">
        <%= f.label "图片上传（推荐）" %>
        <%= f.file_field :img_file %>
      </div>
      <div class="section-content">
        <%= f.label raw("图片外链（可选）") %>
        <%= f.text_field :url %>
      </div>
      <div class="section-content">
        <%= f.submit "发布" %>
      </div>
      <% end %>
    </div>
  </div>
</div>