<% flash.each do |type, msg| %>
<div class="section">
  <div class="section-wrap <%= type %>">
    <div id="flash-message" class="section-title">
      <%= msg %>
    </div>
  </div>
</div>
<% end %>

<% @images.each do |img| %>
<div class="section">
  <div class="section-wrap hover-effect">
    <div class="section-item">
      <div class="section-time">
        <%= img.created_at.strftime("%H:%M") %>
        <% unless img.created_at.today? %>
          <%= img.created_at.strftime("%Y-%m-%d") %>
        <% end %>
      </div>
      <div class="section-title">
        <%= img.title %>
      </div>
      <div class="section-content">
        <%= image_tag(img.url) %>
      </div>
      <div class="section-action">
        <% if img.likes.count > 0 %>
          <%= link_to "点赞 #{img.likes.count}", "/image/like/#{img.id}", remote: true, method: :post %>
        <% else %>
          <%= link_to "点赞", "/image/like/#{img.id}", remote: true, method: :post %>
        <% end %>
        <%= link_to "评论", "/image/#{img.id}#comment" %>
      </div>
      <div class="section-footer">
        <div class="section-footer-icon">
          <%= image_tag(img.user.gravatar_url, :class => "gravatar") %>
        </div>
        <div class="section-footer-name">
          <%= img.user.name %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>