<div class="section upload">
  <div class="section-wrap info invite-title">
    <div class="section-item">
      <div class="section-title">
        <%= params[:name] %> is inviting you to register HolyImage...
      </div>
    </div>
  </div>
</div>

<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <%= form_for :user, method: :post, url: '/user/create' do |f| %>
      <div class="section-content">
        <%= f.label "Name" %>
        <%= f.text_field :name %>
      </div>
      <div class="section-content">
        <%= f.label "Email" %>
        <%= f.text_field :email %>
      </div>
      <div class="section-content">
        <%= f.label "Password" %>
        <%= f.password_field :password %>
      </div>
      <div class="section-content">
        <%= f.label "Password Confirmation" %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="section-content">
        <%= f.hidden_field :refferer, value: params[:name] %>
        <%= f.submit "Register" %>
      </div>
      <% end %>
    </div>
  </div>
</div>