<div class="section">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        <%= t("notification.title") %>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="section-wrap">
    <div class="section-item">
    <% @notifications.each do |notification| %>
      <div class="section-time">
        <%= format_time(notification.created_at) %>
      </div>
      <div class="section-title">
        <%= notification.event_from_user.name %>
        <% case notification.event_type
           when 1 %>
          <a href="/image/<%= notification.like.image_id %>">
          <%= t("notification.like") %>
        <% when 2 %>
          <a href="/image/<%= notification.comment.image_id %>">
          <%= t("notification.comment") %>
        <% end %>
        </a>
      </div>
    <% end %>
    </div>
  </div>
</div>