<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <div id="sign-in" class="section-title">
        <%= t(:login) %>
      </div>
      <%= form_for :user, method: :post, url: '/user/login' do |f| %>
      <div class="section-content">
        <%= f.label t(:user_email) %>
        <%= f.text_field :email %>
      </div>
      <div class="section-content">
        <%= f.label t(:user_password) %>
        <%= f.password_field :password %>
      </div>
      <div class="section-content">
        <%= f.submit t(:login) %>
      </div>
      <% end %>
    </div>
  </div>
</div>