<div class="section upload">
  <div class="section-wrap">
    <div class="section-item">
      <div id="sign-in" class="section-title">
        登录
      </div>
      <%= form_for :user, method: :post, url: '/user/login' do |f| %>
      <div class="section-content">
        <%= f.label "Email" %>
        <%= f.text_field :email %>
      </div>
      <div class="section-content">
        <%= f.label "密码" %>
        <%= f.password_field :password %>
      </div>
      <div class="section-content">
        <%= f.submit "登录" %>
      </div>
      <% end %>
    </div>
  </div>
</div>