<div class="section">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-time">
        <% if @invite_user.blank? %>
        注册于 <%= @user.created_at.strftime("%Y-%m-%d") %>
        <% else %>
        由 <%= @invite_user.name %> 邀请注册于 <%= @user.created_at.strftime("%Y-%m-%d") %>
        <% end %>
      </div>
      <div class="section-title">
        <%= @user.name %>
      </div>
    </div>
  </div>
</div>

<% if logged_in? && current_user.name == params[:name] %>
<div class="section" id="invitation">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        邀请注册
      </div>
      <div class="section-content user-invite">
        <input type="text" value="<%= request.url %>/invitation" readonly>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="section" id="album">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        图片集
      </div>
      <div class="section-explore">
      <% @images.each do |image| %>
        <div class="section-square">
          <%= link_to(image_tag(image.img_url(:thumbnail)), "/image/#{image.id}") %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<% if logged_in? && current_user.name == params[:name] %>
<div class="section" id="operations">
  <div class="section-wrap warning">
    <div class="section-item">
      <div class="section-title">
        用户操作
      </div>
      <div class="section-content">
        <div>
          <%= link_to "更换头像", "https://cn.gravatar.com/", target: "_blank" %>
        </div>
        <div>
          <%= link_to "登出", "/user/logout", remote: true, method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
