<div class="section">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-time">
        Joined at <%= @user.created_at.strftime("%Y-%m-%d") %>
      </div>
      <div class="section-title">
        <%= @user.name %>
      </div>
    </div>
  </div>
</div>

<% if logged_in? && current_user.name == params[:name] %>
<div class="section" id="invitation">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        Invitation
      </div>
      <div class="section-content user-invite">
        <input type="text" value="<%= request.url %>/invitation" readonly>
      </div>
    </div>
  </div>
</div>

<div class="section" id="operations">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        Operations
      </div>
      <div class="section-content">
        <div>
          <%= link_to "Update Gravatar", "https://cn.gravatar.com/", target: "_blank" %>
        </div>
        <div>
          <%= link_to "Logout", "/user/logout", remote: true, method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="section">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        Image uploaded
      </div>
      <div class="section-explore">
      <% @images.each do |image| %>
        <div class="section-square">
          <%= link_to(image_tag(image.img_url(:thumbnail)), "/image/#{image.id}") %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
