<div class="section">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-time">
        <% if @invite_user.blank? %>
          <%= t(:registered_at, time: @user.created_at.strftime("%Y-%m-%d")) %>
        <% else %>
          <%= t(:invited_to_register_at, user: @invite_user.name, time: @user.created_at.strftime("%Y-%m-%d")) %>
        <% end %>
      </div>
      <div class="section-title">
        <%= @user.name %>
      </div>
    </div>
  </div>
</div>

<% if logged_in? && current_user.name == params[:name] %>
<div class="section" id="invitation">
  <div class="section-wrap info">
    <div class="section-item">
      <div class="section-title">
        <%= t(:invite_link_title) %>
      </div>
      <div class="section-content user-invite">
        <input type="text" value="<%= request.url %>/invitation" readonly>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="section" id="album">
  <div class="section-wrap">
    <div class="section-item">
      <div class="section-title">
        <%= t(:album) %>
      </div>
      <div class="section-explore">
      <% @images.each do |image| %>
        <div class="section-square">
          <%= link_to(image_tag(image.img_url(:thumbnail)), "/image/#{image.id}") %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<% if logged_in? && current_user.name == params[:name] %>
<div class="section" id="operations">
  <div class="section-wrap warning">
    <div class="section-item">
      <div class="section-title">
        <%= t(:user_operations) %>
      </div>
      <div class="section-content" id="user-operations">
        <div>
          <%= link_to "中文", "/zh-CN/user/locale", remote: true, method: :post %>
          <%= link_to "English", "/en/user/locale", remote: true, method: :post %>
        </div>
        <div>
          <%= link_to t(:change_avatar), "https://cn.gravatar.com/", target: "_blank" %>
        </div>
        <div>
          <%= link_to t(:logout), "/user/logout", remote: true, method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
