<% if logged_in? %>
  <span><%= link_to icon("asterisk"), controller: "image", action: "explore" %></span>
  <span><%= link_to icon("inbox"), controller: "notification", action: "list" %></span>
  <span><%= link_to icon("plus"), controller: "image", action: "upload" %></span>
  <span><%= link_to icon("user-circle-o"), controller: "user", action: "info", name: current_user.name %></span>
<% else %>
  <span><%= link_to t(:register), controller:"user", action: "new" %></span>
  <span><%= link_to t(:login), controller:"user", action: "sign_in" %></span>
<% end %>