<!DOCTYPE html>
<html>
  <head>
    <title>HolyImage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="menu">
        <div class="site-name">
          <%= link_to "HolyImage", controller: "index", action: "index" %>
        </div>
        <div class="site-menu">
          <span><%= link_to "Home", controller: "index", action: "index" %></span>
          <span><%= link_to "Explore", controller: "image", action: "explore" %></span>
          <%= render "layouts/user" %>
        </div>
      </header>
      <%= yield %>

      <footer>
        <a href="/">HolyImage</a> &copy; 2017</a>
      </footer>
    </div>
  </body>

</html>
