<!DOCTYPE html>
<html>
  <head>
    <title>HolyImage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/holy-image-48.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="menu">
      <div class="menu-wrapper">
        <div class="site-menu">
          <%= render "layouts/user" %>
        </div>
        <div class="site-name">
          <%= link_to "HolyImage", controller: "index", action: "index" %>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>

      <footer>
        <a href="/">HolyImage</a> &copy; 2017</a>
      </footer>
    </div>
  </body>

</html>
